
//Reset
@import './import/normalize';


// Componentes
@import './components/radios';
@import './components/checkbox';

.grid{
    box-sizing: border-box;
    padding: .5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 200px;
    width: 100px;
    overflow-x: scroll;
}